
<div style="display:flex; flex-direction: row; flex-flow: row wrap;">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle>Bienvenidos</mat-card-subtitle>
      <mat-card-title>louconstruction</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Remodelaciones y acabado para su hogar y espacios comerciales.</p>
      <p>En louconstruction contamos con la experiencia en drywall, sheetrock,decir otros(water resist, replace ). Cuentenos que tipo de proyecto desea realizar y estaremos presto a ayudarlo; nos acomodamos a su presupuesto y necesidades   </p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
    <p>.......mas...</p>
    </mat-card-footer>
  </mat-card>



  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-1x"></div>
      <mat-card-title>Water resist</mat-card-title>
      <mat-card-subtitle>Restoration</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/code-1x.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        We used the best material to guarantee long life and excelent protection
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Code X1</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-2x"></div>
      <mat-card-title>Serios damage</mat-card-title>
      <mat-card-subtitle>Replace</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/code-2x.png" alt="Photo of a Shiba Inu">

    <mat-card-content>
      <p>
        Quick action is necessary to minimize the damage to your home.
      </p>
    </mat-card-content>
    <mat-card-actions>

      <button mat-button>Code X2</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-3x"></div>
      <mat-card-title>New Floor</mat-card-title>
      <mat-card-subtitle>Replace</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/code-3x.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        One of the most cost-effective ways to improve your home's value and increase its desirability to potential buyers is by adding new flooring.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Code X3</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-4x"></div>
      <mat-card-title>Code 4x</mat-card-title>
      <mat-card-subtitle>Asessor</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/code-4x.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Baseman repair, we have experience in all types of damage, be it humidity or deterioration due to aging.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Code X4</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-5x"></div>
      <mat-card-title>Code 5x</mat-card-title>
      <mat-card-subtitle>Asessor</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/code-5x.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>

One of the best options for making outdoor stairs slip resistant in wet or icy conditions is to use a non-slip coating or treatment.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
