<p>{{offer}}</p>



<div style="display:flex; flex-direction: row; flex-flow: row wrap; " >
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-1x"></div>
      <mat-card-title>Code 1x</mat-card-title>
      <mat-card-subtitle>Basic</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/code-1x.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-2x"></div>
      <mat-card-title>Code 2x</mat-card-title>
      <mat-card-subtitle>Inlude Material</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/code-2x.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-3x"></div>
      <mat-card-title>Code 3x</mat-card-title>
      <mat-card-subtitle>Asessor</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/code-3x.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-4x"></div>
      <mat-card-title>Code 4x</mat-card-title>
      <mat-card-subtitle>Asessor</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/code-4x.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-5x"></div>
      <mat-card-title>Code 5x</mat-card-title>
      <mat-card-subtitle>Asessor</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/code-5x.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

</div>
