<div class="mat-sidenav-container">


  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu_open</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    <h1 class="example-app-name">   {{owner}}</h1>



    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/account">
            <mat-icon>account_box</mat-icon>
            <span>My Cuenta</span>
        </button>
        <button mat-menu-item (click)="sidenav.opened = false" >
            <mat-icon>exit_to_app</mat-icon>
            <span>Salir</span>
        </button>
    </mat-menu>
  </mat-toolbar>


  <mat-sidenav-container>


    <mat-sidenav #sidenav style="width: 200px" mode="over">
      <img src="assets/img/myicon.png" width="128" style="margin-left: 20px">

      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/search" style="cursor: pointer">
          <mat-icon>search</mat-icon>
          <span>Search</span>
      </button>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/menu" style="cursor: pointer">
          <mat-icon>account_balance</mat-icon>
          <span>Menu..</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/client"
          style="cursor: pointer">
          <mat-icon>supervisor_account</mat-icon>
          <span>Clients</span>
      </button>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/credit" style="cursor: pointer">
          <mat-icon>credit_card</mat-icon>
          <span>Credits</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/consult-autocomplete"
          style="cursor: pointer">
          <mat-icon>thumbs_up_down</mat-icon>
          <span>Simulador</span>
      </button>
          <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/medic" style="cursor: pointer">
          <mat-icon>reorder</mat-icon>
          <span>Certificados</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/specialty" style="cursor: pointer">
          <mat-icon>trending_up</mat-icon>
          <span>Actividad</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/patient" style="cursor: pointer">
          <mat-icon>contacts</mat-icon>
          <span>Contactenos</span>
      </button>

      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/exam" style="cursor: pointer">
          <mat-icon>call</mat-icon>
          <span>Ayuda</span>
      </button>
          <mat-divider></mat-divider>
  </mat-sidenav>

    <mat-sidenav-content>
    <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
